<div style="width: 550px">
  <nz-table #columnTable [nzData]="tableData" [nzScroll]="{ x: '700px' }" [nzWidthConfig]="widthConfig">
    <thead>
      <tr>
        <th *ngFor="let content of tableColumns; let i = index">{{content}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of columnTable.data let i = index">

        <td *ngFor="let objKey of _object.keys(row); let j = index">

          <div [ngSwitch]="fieldTypes[j]">
            <div *ngSwitchCase="'text'">
              {{ row[objKey] }}
            </div>
            <div *ngSwitchCase="'rating'">
              <nz-rate [ngModel]="_json.parse(row[objKey])" nzDisabled></nz-rate>
            </div>
            <div *ngSwitchCase="'progressbar'">
              <nz-progress [nzPercent]="row[objKey]"></nz-progress>
            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </nz-table>
</div>