<nz-card style="width:35vw">
  <nz-descriptions nzTitle="SIDF" [nzColumn]="3" >
    <nz-descriptions-item nzTitle="Planned End Date">05-Jun-2021</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Expected End Date">04-Aug-2021</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Remark">1 month delay</nz-descriptions-item>
  </nz-descriptions>
  <!-- <nz-divider></nz-divider> -->
  <nz-descriptions nzTitle="JIGPC Assessment" [nzColumn]="3">
    <nz-descriptions-item nzTitle="Planned End Date">05-Jun-2021</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Expected End Date">04-Aug-2021</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Remark">1 month delay</nz-descriptions-item>
  </nz-descriptions>
  <!-- <nz-divider></nz-divider> -->
  <nz-descriptions nzTitle="SOLB Steel Implementation" [nzColumn]="3">
    <nz-descriptions-item nzTitle="Planned End Date">05-Jun-2021</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Expected End Date">04-Aug-2021</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Remark">1 month delay</nz-descriptions-item>
  </nz-descriptions>
</nz-card>

