<nz-layout>
  <nz-sider style="overflow: auto; height: 100vh; position: fixed; left: 0" nzTheme="light">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'">
      <!-- <li nz-submenu [nzOpen]="true">
        <span title><i nz-icon nzType="user" nzTheme="outline"></i>Users</span>
        <ul>
          <li nz-menu-item (click)="onClick('9922636854')">Siddhesh Thipse</li>
          <li nz-menu-item>John Samuel</li>
          <li nz-menu-item>Gokulnath S</li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="true">
        <span title><i nz-icon nzType="global" nzTheme="outline"></i>Countries</span>
        <ul>
          <li nz-menu-item (click)="onClick('911234')">India</li>
          <li nz-menu-item>USA</li>
          <li nz-menu-item>UK</li>
        </ul>
      </li> -->
      <li nz-menu-item (click)="navigateTo('screen1')"><i nz-icon nzType="appstore" nzTheme="outline"></i>Dashboard</li>
      <div *ngFor="let contents of sidenavData">
        <li nz-submenu nzOpen="{{contents.collapse}}">
          <span title><i nz-icon nzType={{contents.icon}} nzTheme={{contents.icontheme}}></i>{{contents.title}}</span>
          <ul *ngFor="let item of contents.data">
            <li nz-menu-item (click)="onClick(item.value)">{{item.placeholder}}</li>
          </ul>
        </li>
      </div>

    </ul>
  </nz-sider>
  <nz-layout style="margin-left: 200px">
    <nz-header style="background: white; padding:0;">
      <div nz-row nzType="flex" nzJustify="end">
        <div nz-col nzSpan="1"><i nz-icon nzType="plus-circle" nzTheme="outline" style="font-size: 20px;"></i></div>
        <div nz-col nzSpan="1"><i nz-icon nzType="bell" nzTheme="outline" style="font-size: 20px;"></i></div>
        <div nz-col nzSpan="1"><i nz-icon nzType="exclamation-circle" nzTheme="outline" style="font-size: 20px;"></i>
        </div>
        <div nz-col nzSpan="1"><i nz-icon nzType="question-circle" nzTheme="outline" style="font-size: 20px;"></i></div>
        <div nz-col nzSpan="3">
          <nz-avatar nzText="JD" [nzSize]="40"></nz-avatar>
          <nz-dropdown style="margin-left: 1rem;">
            <a nz-dropdown>John Doe<i nz-icon type="down" style="margin-left: 7px;"></i></a>
            <ul nz-menu>
              <li nz-menu-item>
                <i nz-icon nzType="setting" nzTheme="outline"></i>User Settings
              </li>
              <li nz-menu-item>
                <i nz-icon nzType="project" nzTheme="outline"></i>Project Settings
              </li>
              <li nz-menu-item>
                <i nz-icon nzType="check-circle" nzTheme="outline"></i>Subscriptions
              </li>
              <li nz-menu-item>
                <i nz-icon nzType="smile" nzTheme="outline"></i>Feedback
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item><i nz-icon nzType="logout" nzTheme="outline"></i>Logout</li>
            </ul>
          </nz-dropdown>
        </div>
      </div>
    </nz-header>
    <nz-content style="margin:24px 16px 0;overflow: initial">
      <div style="padding: 20px;background: #fff;">
        <!-- Breadcrumb -->
        <div nz-row>
          <div nz-col nzSpan="24" style="margin: 10px; padding: 0px;">
            <nz-breadcrumb>
              <nz-breadcrumb-item>
                Reports
              </nz-breadcrumb-item>
              <nz-breadcrumb-item>
                <a style="color: #e13f00">Project Governance</a>
              </nz-breadcrumb-item>
            </nz-breadcrumb>
          </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nzType="flex" nzJustify="space-between" style="margin-left: 12px;">
          <div nz-col nzSpan="6">
            <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid">
              <label nz-radio-button nzValue="A" (click)="navigateTo('screen1')">Summary</label>
              <label nz-radio-button nzValue="B" (click)="navigateTo('screen2')" style="margin-left: 1rem;">View
                Resource Utilization</label>
            </nz-radio-group>
          </div>
          <div nz-col nzSpan="3">
            <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
            <button nz-button nzType="default" nzShape="circle" style="margin-left: 1rem;"><i nz-icon
                nzType="align-center" nzTheme="outline"></i></button>
            <button nz-button nzType="default" nzShape="circle" style="margin-left: 1rem;"><i nz-icon nzType="ellipsis"
                nzTheme="outline"></i></button>
          </div>
        </div>
        <div nz-row style="margin-top: 20px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>