<nz-table #sampleTable [nzData]="tableData" [nzTitle]="tableTitle" [nzSize]="'small'" [nzPageSize]="pageSize" style="padding: 20px;">
  <thead>
    <tr>
      <th>Outcome</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Consequence</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sampleTable.data">
      <td>{{ data.outcome }}</td>
      <td>{{ data.name }}</td>
      <td><nz-rate [ngModel]="data.rating" nzDisabled></nz-rate></td>
      <td style="color: red;">{{ data.consequence }}</td>
    </tr>
  </tbody>
</nz-table>
